nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo img {
    width: 123px;
}

.right ul {
    display: flex;
    gap: 34px;
}

.right ul li {
    list-style: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.right ul li span {
    padding: 0 5px;
}

.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin: 70px;
    font-family: sans-serif;
}

.first span {
    font-size: 40px;
}

.first p {
    font-size: 23px;
    text-align: center;
    width: 57vw;
}

.btn {
    color: #ffffff;
    padding: 14px 16px;
    background-color: #00b6d1;
    border-radius: 6px;
    font-weight: 700;
    border: none;
    margin: 12px 0px;
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: white;
}

.second {
    /* justify-content: changes main axis direction */
    /* align-items: changes cross axis direction */
    align-items: center;
    max-width: 70vw;
    margin: auto;
}

.download:nth-child(2) {
    font-size: 23px;
}

.download{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: sans-serif;
}

.download img{
    width:40px;
    padding: 0px 12px;
}

.flex {
    display: flex;
}

.small {
    font-size: 12px;
}

.green {
    background-color: #5cb85c;
}

.item {
    padding: 23px;
    background: #f9f9f9;
    border-radius: 12px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.item-lang {
    font-weight: 700;
    text-align: center;
    padding-bottom: 23px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
}

@media screen and (max-width: 1145px) {
    .grid {
        grid-template-columns: 1fr;
    }
}